.container {
    padding: 0.5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    background-color: hsl(var(--background));

    ul {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        .search {
            justify-content: space-between;
            min-width: 256px;
            font-size: 0.75rem;
            height: 2rem;
            padding-left: 0.5rem;
            padding-right: 0.3rem;
        }
    }
}