.container {
    padding-top: 56px;
    display: grid;
    grid-template: "aside main" 1fr / minmax(320px, 1fr) 9fr;
    height: 100vh;

    &>aside {
        grid-area: aside;
        border-right: 1px solid hsl(240 5.9% 90%);
    }

    &>section {
        grid-area: main;
    }
}